<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>border</title>
</head> 
<body>
<div id="<%= dom_id client %>">
<p>
  <strong>Название компании латиницей:</strong>
  <%= client.name %>
</p>

<p>
  <strong>Название компании по регистрации:</strong>
  <%= client.namereg %>
</p>

<p>
  <strong>Год основания компании:</strong>
  <%= client.year %>
</p>

<p>
  <strong>Организационно-правовая форма:</strong>
  <%= client.form %>
</p>

<p>
  <strong>УНП:</strong>
  <%= client.unp %>
</p>

<p>
  <strong>Адрес/дом:</strong>
  <%= client.address %>
</p>

<p>
  <strong>Город:</strong>
  <%= client.city %>
</p>

<p>
  <strong>Страна:</strong>
  <%= client.country %>
</p>

<p>
  <strong>Адрес/дом-почт:</strong>
  <%= client.addresspost %>
</p>

<p>
  <strong>Город-почт:</strong>
  <%= client.citypost %>
</p>

<p>
  <strong>Страна-почт:</strong>
  <%= client.countrypost %>
</p>

<p>
  <strong>Основной телефон:</strong>
  <%= client.phone %>
</p>

<p>
  <strong>Общий адрес электронной почты:</strong>
  <%= client.emailaddress %>
</p>

<p>
  <strong>Адрес сайта:</strong>
  <%= client.site %>
</p>

<p>
  <strong>Банковские реквизиты:</strong>
  <%= client.banksdet %>
</p>

<p>
  <strong>Дополнительные данные:</strong>
  <%= client.additional %>
</p>

</div>
    
</body>
</html>
